@import 'tailwindcss' source('../app');
@plugin "@tailwindcss/typography";

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

.toc-link {
  @apply text-zinc-800 dark:text-zinc-300;

  &:hover {
    @apply text-zinc-800 dark:text-zinc-200 underline;
  }
}

.footnotes a {
  @apply text-zinc-600 dark:text-zinc-300;

  &:hover {
    @apply text-zinc-800 dark:text-zinc-100 underline;
  }
}

p:has(> img) {
  text-align: center;
}

.link-card {
  @apply rounded-xl border border-zinc-200 bg-zinc-100 shadow shadow-zinc-200 transition-colors duration-300 my-4;

  &:hover {
    @apply bg-zinc-50;
  }

  a {
    @apply grid grid-cols-1 gap-4 p-4 md:px-8 md:py-6;
  }
}

.link-card-title {
  @apply grid grid-cols-1 gap-2;

  p:first-child {
    @apply m-0 text-sm md:text-base text-zinc-800;
  }

  p:last-child {
    @apply m-0 line-clamp-2 text-xs text-zinc-700 md:text-sm;
  }
}

.link-card-site {
  @apply flex items-center gap-2 md:gap-4;

  img {
    @apply w-5 flex-shrink-0;
  }

  p {
    @apply text-xs text-zinc-700 md:text-sm;
  }
}

.note {
  @apply p-4 md:p-6 text-base bg-blue-50 text-blue-500 dark:bg-blue-900/20 dark:text-blue-300 border rounded-lg border-blue-400 dark:border-blue-400;

  p {
    @apply whitespace-pre-wrap my-0;
  }
}
