@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sawarabi Gothic';
  font-display: swap;
  src: url('https://images.site.yajihum.dev/sawarabi.woff2') format('woff2');
}

html {
  font-family: 'Sawarabi Gothic', 'ui-sans-serif', 'system-ui', 'sans-serif';
}

.toc-link {
  color: #bdbdbd;
}

.toc-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footnotes a {
  color: #bdbdbd;
}

.footnotes a:hover {
  color: #fff;
}

p:has(> img) {
  text-align: center;
}
